body {
	background-color: transparent;
	font-family: 'Quicksand', sans-serif;;
}
.navb {
	display: flex;
	background-color: transparent;
	height: 60px;
	width: 100%;
	margin: -10px;
	padding: 10px;
}
.navb img {
	width: 84px;
	height: 60px;
	margin-right: auto;
}
.navb li{
	margin: 20px;
	list-style-type: none;
	font: bold 0.9em Helvetica, sans-serif;
}
.navb li a{
	text-decoration: none;
	color: grey;
}
.body-section {
	margin-left: 80px;
	margin-right: 80px;
}
.head-content {
	margin-top: 50px;
	padding-top: 10px;
	width: 60%;
	font-size: 1.4em;
	color: #351A08;
}
.head-content span {
	color: #FF5A5F;
	font: bold 1.2em 'Yantramanav', sans-serif;
}
.experience-search {
	width: 100%;
	height: 80px;
	border-radius: 5px;
	margin-top: 50px;
	box-shadow: 1px 1px 3px 1px #888888;
}
.experience-search form{
	padding: 15px;
	display: flex;
	justify-content: flex-start;
}
.experience-search label {
	font-weight: bold;
}
.experience-search form div{
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 20px;
}
#destination {
	width: 250px;
}
.input-design {
	border: 0;
	font-size: 1.2em;
	margin-top: 15px;
}
input:focus, select:focus{
	outline: none;
	border-bottom: 1px solid grey;
}
#experience-time {
	display: inline-flex;
	flex-direction: row;
}
#guests {
	background-color: transparent;
}
input[type="date"]:before {
	content: attr(placeholder) !important;
	color: #aaa;
	margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
	content: "";
}
#search-button {
	font: 1.2em sans-serif;
	color: white;
	background-color: #FF5A5F;
	outline: 0;
	border: 0;
	border-radius: 5px;
	width: 110px;
	height: 50px;
	margin-left: 15px;
}

.middle-section {
	margin-top: 50px;
}
.middle-section h4 {
	margin-bottom: 20px;
}
i.fa {
	color: rgb(0, 166, 153);
}
.row p {
	font-size: 1.1em;
}